@model leave_management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Leave Types
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.ActionLink("Allocation To Employees", "SetLeave", new {id = item.Id})*@ 
                <a asp-controller="LeaveAllocation" asp-action="SetLeave" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="fa fa-pencil"></i>Allocation To Employees</a>
            </td>
        </tr>
}
    </tbody>
</table>
